{% extends 'base.html.twig' %}

{% block title %}Mon compte - GreenGoodies
{% endblock %}

{% block body %}
	<section class="background-secondary main-content">
		<div class="account__wrapper">
			<h2 class="account__title">Mon compte</h2>
			{% for message in app.session.flashbag.get('success-api') %}
				<div class="alert-success flash-message">
					{{ message }}
				</div>
			{% endfor %}
			<div class="account__order">
				<div class="account__content-wrapper">
					{% if orders is empty %}
						<p class="account__empty-message">Vous n'avez pas encore effectué de commandes.</p>
					{% else %}
						<h3 class="account__orders-title">Mes commandes</h3>
						<table class="account__orders-table">
							<thead>
								<tr>
									<th class="account__table-header">N°</th>
									<th class="account__table-header">Date</th>
									<th class="account__table-header">Prix</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
									<tr class="account__order-row">
										<td class="account__order-id">{{ order.id }}</td>
										<td class="account__order-date">{{ order.orderDate|date('d/m/Y') }}</td>
										<td class="account__order-total-amount">{{ order.totalAmount }}€</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
				<div class="account__content-wrapper">
					<div class="account__api-access-wrapper">
						<div class="account__api-access-header">
							<h3>Mon accès API</h3>
						</div>
						<div class="account__api-access-button">
							{{ form_start(apiAccessForm, {'action': path('app_account_update_api_access')}) }}
							{{ form_widget(apiAccessForm.submit) }}
							{{ form_end(apiAccessForm) }}
						</div>
					</div>
				</div>
				<div class="account__content-wrapper">
					<div class="account__delete-account-wrapper">
						<div class="account__delete-button">
							{{ form_start(deleteAccountForm, {'action': path('app_account_delete'),'attr': {'onsubmit': 'return confirm("Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.")'}}) }}
							{{ form_widget(deleteAccountForm.submit) }}
							{{ form_end(deleteAccountForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}