{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - S'enregistrer
{% endblock %}

{% block body %}
	<section class="auth">
		<div class="auth__image">
			<img src="{{ asset('images/home_about_2.png') }}" alt="" class="sign__img">
		</div>
		<div class="auth__form">
			<div class="auth__form-wrapper">

				{{ form_start(registrationForm) }}

				<h1>S'enregistrer</h1>

				<div class="form-group">
					{{ form_label(registrationForm.lastName) }}
					{{ form_widget(registrationForm.lastName, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(registrationForm.lastName) }}
				</div>

				<div class="form-group">
					{{ form_label(registrationForm.firstName) }}
					{{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(registrationForm.firstName) }}
				</div>

				<div class="form-group">
					{{ form_label(registrationForm.email) }}
					{{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'autocomplete': 'email'} }) }}
					{{ form_errors(registrationForm.email) }}
				</div>

				<div class="form-group">
					{{ form_label(registrationForm.plainPassword) }}
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password'}}) }}
					{{ form_errors(registrationForm.plainPassword) }}
				</div>

				<div class="form-group">
					{{ form_label(registrationForm.confirmPassword) }}
					{{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control', 'autocomplete': 'new-password'}}) }}
					{{ form_errors(registrationForm.confirmPassword) }}
				</div>

				<div class="form-group form-check">
					{{ form_widget(registrationForm.agreeTerms) }}
					<label for="agreeTerms" class="form-check-label">J’accepte les CGU de GreenGoodies</label>
					{{ form_errors(registrationForm.agreeTerms) }}
				</div>

				<button type="submit" class="btn btn-lg btn-primary">S’inscrire</button>

				{{ form_end(registrationForm) }}

				<p class="auth__redirect">
					<a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
				</p>

			</div>
		</div>
	</section>
{% endblock %}