{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur GreenGoodies
{% endblock %}

{% block body %}
	<section class="detail-product">
		<div class="detail-product__image">
			<img src="{{ product.picture }}" alt="{{ product.name }}">
		</div>
		<div class="detail-product__text">
			<div class="detail-product__text-wrapper">
				<h3 class="detail-product__title">{{ product.name }}</h3>
				<p class="detail-product__price">{{ product.price }}€</p>
				<p class="detail-product__description-word">Description</p>
				<p class="detail-product__short-description">{{ product.fullDescription }}</p>

				{% if app.user %}
					<form action="{{ path('app_cart_add') }}" method="post">
						<input type="hidden" name="product_id" value="{{ product.id }}">
						<label for="quantity">Quantité :</label>
						<input type="number" id="quantity" name="quantity" value="{{ cart[product.id] ?? 1 }}" min="0">
						<button type="submit" class="btn-primary">
							{{ cart[product.id] is defined ? 'Mettre à jour' : 'Ajouter au panier' }}
						</button>
					</form>
				{% else %}
					<a href="{{ path('app_login') }}" class="btn-primary">Se connecter pour ajouter au panier</a>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}