{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu sur GreenGoodies
{% endblock %}

{% block body %}
	<section class="detail-product">
		<div class="detail-product__image">
			<img src="{{ product.picture }}" alt="{{ product.name }}">
		</div>
		<div class="detail-product__text">
			<div class="detail-product__text-wrapper">
				<h3 class="detail-product__title">{{ product.name }}</h3>
				<p class="detail-product__price">{{ product.price }}€</p>
				<p class="detail-product__short-description">{{ product.fullDescription }}</p>
				<a href="" class="detail-product__add-to-cart">Ajouter au panier</a>
			</div>
		</div>
	</section>

{% endblock %}