<header>
	<a href="{{ path('app_home') }}" class="logo">
		<img src="{{ asset('images/logo.svg') }}" alt="Logo de GreenGoodies">
	</a>
	<nav>
		<ul>
			{% if app.user %}
				<li>
					<a href="{{ path('app_home') }}#products">Nos produits</a>
				</li>
				<li>
					<a href="{{ path('app_cart_show') }}" class="cart-count-wrapper">
						Mon panier
						{% set totalQuantity = cart_total_quantity() %}
						{% if totalQuantity > 0 %}
							<span class="cart-count">{{ totalQuantity }}</span>
						{% endif %}
					</a>
				</li>
				<li>
					<a href="{{ path('app_account_show') }}">Mon compte</a>
				</li>
				<li>
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li>
					<a href="{{ path('app_register') }}">Inscription</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>